.container {
  width: 90vw;
  height: 60vh;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.screen {
  grid-column: 1 / span 4;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.btn {
  all: unset;
  display: grid;
  place-content: center;
  background-color: #ccc;
  border: 1px solid #bbb;
  cursor: pointer;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.btn:active {
  background-color: black;
}

.orange {
  background-color: #f3913e;
}

.orange:hover {
  background-color: #ff4300;
}

.orange:active {
  background-color: #d30000;
}

.zero {
  grid-column: 1 / span 2;
}

/* media queries */

/* Medium Devices, Desktops */

@media (min-width: 992px) {
  .container {
    width: 40vw;
  }
}
